<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASMPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASMPad.Properties.Settings>
            <setting name="UseSystemLanguage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentFilesMax" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="_empath" serializeAs="String">
                <value />
            </setting>
            <setting name="_runROM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_runROMspr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_backupIPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_backupOne" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rfiles" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="autocomp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_opcodes" serializeAs="String">
                <value>rtl adc and asl bcc blt bcs bge beq bit bmi bne bpl bra brk brl bvc bvs clc cld cli clv cmp cop cpx cpy dec dex dey eor inc inx iny jml jmp jsl jsr lda ldx ldy lsr mvn mvp nop ora pea pei per pha phb phd phk php phx phy pla plb pld plp plx ply rep rol ror rti rts sbc sec sed sei sep sta stp stx sty stz tax tay tcd tcs tdc trb tsb tsc tsx txa txs txy tya tyx wai wdm xba xce</value>
            </setting>
            <setting name="_misc" serializeAs="String">
                <value>header lorom org db pc dcb ""star"" + - ++ -- +++ --- star start end dw incbin incsrc print macro endmacro</value>
            </setting>
            <setting name="opcodeclr" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="addclr" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
            <setting name="commentclr" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="keywordclr" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="loaddefs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MySize" serializeAs="String">
                <value>1117, 562</value>
            </setting>
            <setting name="MyLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="hel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="whitespace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="whitespacecol" serializeAs="String">
                <value>DarkTurquoise</value>
            </setting>
            <setting name="defboth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="loadfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cursorcol" serializeAs="String">
                <value>ActiveCaptionText</value>
            </setting>
            <setting name="halcol" serializeAs="String">
                <value>OldLace</value>
            </setting>
            <setting name="debugpath" serializeAs="String">
                <value />
            </setting>
            <setting name="labclr" serializeAs="String">
                <value>102, 104, 105</value>
            </setting>
            <setting name="boldlab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="selbackcl" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="selforcl" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="MarginWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="showidentguides" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tabwidth" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="smartindent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ok" serializeAs="String">
                <value>DarkOrchid</value>
            </setting>
            <setting name="okkey" serializeAs="String">
                <value>b l w a x y</value>
            </setting>
            <setting name="calltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boldop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boldaddr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boldcom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boldkey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boldok" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="regd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>Lucida Console, 9.75pt</value>
            </setting>
            <setting name="CommentItal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="listdef" serializeAs="String">
                <value>File = $010A
Powerup = $19
Player = $0DB3
ImageLoader = $12
FrameA = $13
FrameB = $14
Lives = $0DBE
Pose = $13E0
ControllerData15 = $15
ControllerData16 = $16
ControllerData17 = $17
ControllerData18 = $18
Layer1X = $1A
Layer1Y = $1C
Layer2X = $1E
Layer2Y = $20
Layer3X = $22
Layer3Y = $24
Mode7CenterX = $2A
Mode7CenterY = $2C
Mode7ParaA = $2E
Mode7ParaB = $30
Mode7ParaC = $32
Mode7ParaD = $34
Mode7Rot = $36
Mode7Scale = $38
Mode7Layer1X = $3A
Mode7Layer1Y = $3C
ScreensInLevel = $5D
SprProp = $64
MarioDir = $76
InWater = $75
IsClimbing = $74
IsDucking = $73
ImageInAir = $72
ObscureMario = $78
MarioXSp = $7B
MarioYSp = $7D
MarioXPos = $7E
MarioYPos = $80
IsWaterLevel = $85
Animation = $71
MarioXPosNext = $94
MarioYPosNext = $96
SpriteNum = $9E
CustomSprNum = $7FAB9E
SprXSp = $B6
SprYSp = $AA
MarioXPosCur = $D1
MarioYPosCur = $D3
GameMode = $0100
Stack = $010B
TwoPlayerFlag = $0DB2
ItemBox = $0DC2
MarioXPosOW = $1F17
MarioYPosOW = $1F19
MarioScore = $0F34
LuigiScore = $0F37
BonusStars = $0F48
TransLevelNum = $13BF
CurOWTile = $13C1
YoshiCol = $13C7
MidwayFlag = $13CE
Pause = $13D4
CapeImg = $13DF
SpinJump = $140D
MsgBox = $1426
KeyHoleXPos = $1436
KeyHoleYPos = $1438
DeathMsg = $143B
CarryFlag = $1470
HoldFlag = $148F
LvlEndTimer = $1493
MarioHurtTimer = $1496
MarioInvTimer = $1497
CapeSpinTimer = $14A6
BluePOW = $14AD
SilverPOW = $14AE
OnOff = $14AF
SprStat = $14C8
SprXPosHi = $14E0
SprYPosHi = $14D4
SprXPosLo = $E4
SprYPosLo = $D8
ShakeGroundTimer = $1887
BalloonTimer = $1891
RidingYoshi = $187A
RedBerry = $18D4
PinkBerry = $18D5
SilverCoins = $18DD
SprLocked = $9D
ExtSpr = $170B
SmokeImg = $17C0
SmokeXPosLo = $17C4
SmokeYPosLo = $17C8
IsSlippery = $86</value>
            </setting>
        </ASMPad.Properties.Settings>
    </userSettings>
</configuration>